<meta charset="UTF-8">
<title>ML</title>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/custom.css">

<style>
    <body>
        {padding-top:50px;}
    </body>
</style>
<header>
    <% include header %>
</header>