<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

<body class="container">

    <% if ((typeof msg !== 'undefined') && msg !== null) { %>
    <div class="alert alert-warning"><%=msg%></div>
    <% } %>
    
    <script>
        var intervalListener = null;
        var clr = function(){
         $('#msg').fadeOut(function(){
          $('#msg').html("").show();
         })
         }
         
         var log = function(t){
            intervalListener = clearInterval(intervalListener)
            $('#cat_msg').prepend(t+"<br>");
            intervalListener = setInterval(clr, 3000);
         }
    </script>
    
    <div id="msg" style="background-color: lavender"></div>
    <div class="jumbotron">
        <h2>expsense</h2>
    </div>
    <div class="flex-container">
        <div class="flex-item"><a class="btn btn-default btn-lge" href="#" role="button">   Link   </a></div>
        <div class="flex-item"><p>test</p></div>
        <div class="flex-item"><p>test</p></div>
        <div class="flex-item"><p>test</p></div>
        <div class="flex-item"><p>test</p></div>
    </div>
    <footer>
        <br><br>
        <% include ../partials/footer %>
    </footer>
</body>
</html>