<html>
  <% include ../partials/head %>
  
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/js/convnet-min.js"></script>
    <script type="text/javascript" src="/js/predict.js"></script>
  </head>

  <body>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.min.css">
    <!--<div id="chart_div" style="width:400; height:300"></div>-->
   
      <div class="row">
        <div class="col col-sm-3 col-offset-sm-3" id="content"></div>
        
      </div>
    
    <script>
  $(document).ready(function(){
    if (typeof <%- model %> !== 'undefined'){
      predict.start(<%- model %>);
    } else {
      predict.log("Unable to start training ... please add some expenses ");
    }
  });
  </script>
  </body>
</html>