<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    
<body class="container">
    <script type="text/javascript" src="/js/convnet-min.js"></script>
    <script type="text/javascript" src="/js/training.js"></script>
            <div class="jumbotron">
                <h2>ML</h2>
            </div>
            <div class="row">
                <div class="col col-xs-8 col-md-8 col-xs-offset-2">Training model</div>
            </div>
            <div class="row">
                <div class="col col-xs-8 col-md-8 col-xs-offset-2" id="content"></div>
            </div>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <script>
            $(document).ready(function(){
                if((typeof <%- trainingData %> !== 'undefined') && (<%- trainingData %> !== [])){
                //  console.log("\n" + JSON.stringify(<%- trainingData %>)) + "\n";
                 training.start(<%- trainingData %>, 3);   
                } else {
                    $('#content').html("Oops .. .can't train because we do not have the training labels ");
                    log("oops dude ")
                }
            });
        </script>
    </body>
</html>