<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    
<body class="container">
    <script type="text/javascript" src="/js/convnet-min.js"></script>
    <script type="text/javascript" src="/js/training.js"></script>
            <div class="jumbotron">
                <h2>ML</h2>
            </div>
            <div class="row">
                <div class="col col-xs-8 col-md-8 col-xs-offset-2"></div>
            </div>
            <div class="row">
                <div class="col col-xs-8 col-md-8 col-xs-offset-2" id="content" style="font-size: 18px;"></div>
            </div>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <script>
            $(document).ready(function(){
                if((typeof <%- trainingData %> !== 'undefined') && (<%- trainingData %> !== [])){
                 training.trainCategories(<%- trainingData %>, 3, function(){
                     training.trainKeywords(<%- trainingData %>,3 );
                 });
                 
                } else {
                    training.log("Oops .. .can't train because we do not have the training data ");
                }
            });
        </script>
    </body>
</html>