<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
<body class="container">

<% if (typeof userid === 'undefined' || userid === null) { %>
    <% include userpartials/_user_none %>
    <% } else { %>
        <% include userpartials/_user_exist %>
        <br>
        <br>
        <% if ((typeof style !== 'undefined') && style === 'data') { %>
            <% include userpartials/_user_data %>
            <% } %>
        <% if ((typeof style !== 'undefined') && style === 'dataitems') { %>
            <% include userpartials/_user_entries %>
            <% } %>
            
        <% if ((typeof style !== 'undefined') && style === 'categories') { %>
            <% include userpartials/_user_categ %>
            <% } %>
    <% } %>
     
 <footer>
     <% include ../partials/footer %>
 </footer>
</body>
</html>    