<div id="info">
 <p style="text-align: center">Hello <%= userid %></p>
</div>
 
<div class="row">
    <div class="col col-xs-12 col-md-12">
       <p>Please set up a few categories if you have not done so - before you add eny data entries. </p>
</div>