<div id="info">
 <p>Sorry, the user ID is not found.</p>
 <p> perhaps you would like to create one ?</p>
</div>
 
<button id="create_user" type="button" class="btn btn-primary"> Create an Account </button>

<script>
var info = $('#info')
 $('#create_user').click(function(){
  $.post('/user/new', {format: 'json'}).done(function(data){
   if(data.msg){
    info.append("<br>" + data.msg);
    
   }
   if(data.userid){
    var html = "<br><a href='/user/" + data.userid + "'>" + data.userid + "</a>"
    info.append(html);
    $('#create_user').fadeOut("slow", function(){});
   }
  })
 })
</script>