<div id="user_data">
 <h3 style="text-align: center">Data Upload</h3>
 <p style="text-align: center">Two types: Categories and Entries</p>
 <div class="row" id="data_div">
     <div class="col col-sm-3 col-sm-offset-4">
         <a href="/data/entries"><button class="btn btn-success" id="entries">Entries</button></a>
     </div>
     <div class="col col-md-3">
         <a href="/data/categories"><button class="btn btn-success" id="categories">Categories</button></a>
     </div>
 </div>
</div>
 
<script>
var userdata = $('#user_data')
$('#entries').click(function(){
 $('#data_div').fadeOut("slow")
 })

</script>