<div id="info">
 <p style="text-align: center">Hello <%= userid %></p>
</div>
 
<div class="row">
    <div class="col col-xs-12 col-md-12">
        <p>please bookmark</p>
    </div>
</div>
<script>
var info = $('#info')

</script>