<div id="info">
 <p style="text-align: center">Hello <%= userid %></p>
</div>
 
<a href="/user/logout"><button id="logout" type="button" class="btn btn-primary"> LOG-OUT </button> </a>

<script>
var info = $('#info')

</script>